/*
CSS externo estillos.css

*/

/*Formateamos la pagina - Reset CSS página informacion sobre reseteo*/
* {
    margin: 5px;
    padding: 5px;
    /* padding Relleno */


}

/*Selector de etiqueta*/
p {
    color: blue;
}

/*Varias etiquetas usamos ","*/
h1,
p {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Selector descendente*/
p span {
    color: red;
}

p span a {
    text-decoration: none;
}